
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="nav-header"><a routerLink="" routerLinkActive="active">Angular App 13</a> </span>
      <span class="nav-header"> <a routerLink="/dash-board" >dash-board</a></span>
      <span class="example-spacer"></span>
      <div> 
      <button mat-raised-button (click)="openDialog()" class="auth-btn">Login</button>
      <button mat-raised-button color="accent" (click)="openRegDialog()">Register</button>
    </div>
    </mat-toolbar>
  </p>

  