.example-spacer {
    flex: 1 1 auto;
  }
.auth-btn{
    margin: 20px;
}
  
.nav-header{
    margin-left: 30px;
}

/* .active{
    color: aliceblue;
    text-decoration: dashed;
    /* text-decoration: black; */


.nav-header{
    text-decoration: dashed;
    color: aliceblue;
}