.counter-value{
    margin: 30px;
}
.example-card {
    max-width: 400px;
    margin: 90px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card{
      display: flex;
  }
  .card2{
      /* margin: 30px; */
  }

footer{
    position: fixed;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  display: block;
  bottom: 0%;
  width: 100%;
}

/* .footer{
    position : absolute;
    bottom:0;
    background-color: aqua;
    color: snow;
    width: 99%;
} */